.container {
    margin: 30px auto auto auto;
    padding: 10px;
    background-color: #28649520;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    border: 2px outset #b0e5ff40;
    max-width: 750px;
    animation: fadeIn;
    animation-duration: 0.7s;
    animation-timing-function: cubic-bezier(0, 0, 0.1, 1);
}

.about {
    position: relative;
    padding: 40px 30px 30px 30px;
    font-size: 17px;
    text-align: center;
    color: white;
    font-style: italic;
    background-color: #28649550;
    border-radius: 20px;
    border: 2px inset #b0e5ff40;
    box-shadow: 1px 1px 4px #fff5, -1px -1px 4px #0434;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
    filter: blur(2px);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@supports not (backdrop-filter: blur(10px)) {
  .container {
    background-color: #2a8abd60;
  }
  .about {
    background-color: #28649560;
  }
}

.about > footer {
    font-size: 15px;
    font-style: italic;
}

.volver {
    position: absolute;
    /* ↓ mi tercer intento (en vano) por colocar el ícono en el centro del botón :face-palm: */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    left: 5px;
    top: 5px;
    bottom: 5px;
    border: 2px outset #65b4db40;

    height: 30px;
    width: 30px;
    border-radius: 999px;
    font-size: 1.5rem;
    font-weight: 900;
    color: #99d9ee80;


    background-color: transparent;
    transition: background-color 1s ease-out;
}

.volver:hover {
    background-color: #08496025;
    transition: background-color 0.2s;
}

.volver:active, .volver:focus{
    outline: none
}