.ciudad {
    margin: 40px auto auto auto;
    border: 2px outset #50c5ff33;
    position: relative;
    border-radius: 20px 28px 80px 28px;
    box-shadow: 12px 7px 10px #20507014;
    width: 40vw;
    min-width: 500px;
    min-height: 400px;
    padding: 20px;
    color: #333;
    text-align: center;
    background-color: #ffffff50;
    backdrop-filter: blur(4px);
    animation: fadeIn;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0, 0, 0.1, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
    filter: blur(2px);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.icon {
    width: 110px;
    height: 110px;
    position: absolute;
    right: 25px;
    bottom: 25px;
    background-color: #28b2;
    border-radius: 100%;
    border: 0.1px inset #6cf3;
    box-shadow: 1px 1px 4px #fffa, -1px -1px 4px #0434;
}

.title > div {
    font-size: 13px;
}

.goBack {
    position: absolute;
    /* ↓ mi intento (en vano) por colocar el ícono en el centro del botón :face-palm: */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    left: 3.5px;
    top: 5px;
    border: 2px outset #b0e5ff60;
    
    height: 40px;
    width: 40px;
    border-radius: 999px;
    font-size: 1.5rem;
    font-weight: 100;
    color: #b0e5ffc0;
    
    
    background-color: transparent;
    transition: background-color 1s ease-out;
}

.goBack:hover {
    background-color: #1c87ae35;
    transition: background-color 0.2s;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.clima {
  text-transform: capitalize;
}

.forecast {
  display: flex;
  justify-content: space-between;
}

.day {
  margin: 10px;
  padding: 5px;
  width: 10%;
  background-color: #ffffff50;
  border: 2px outset #50c5ff33;
  border-radius: 10px;


}

.error {
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #fff9;
    text-decoration: none;
    font-weight: bold;
}

.error > a {
    color: #fff9;
    transition: color 1.5s;
}

.error > a:hover {
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
}

@media (max-width: 500px) {
    .ciudad {
        margin: auto;
        overflow: hidden;
        min-width: 300px;
        min-height: fit-content;
    }

    .title {
        margin-top: 1rem;
    }

    .ciudad h1 {
        font-size: 2rem;
    }

    .ciudad h3 {
        font-size: 1.5rem;
    }

    .ciudad h5 {
        font-size: 1.2rem;
    }

    .goBack {
        height: 30px;
        width: 30px;
    }

    .info {
        display: initial;
        height: 7rem;
    }

    .containerIcon {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        min-height: fit-content;
    }

    .icon {
        position: relative;
        bottom: .1rem;
        right: 0;
    }
}