.notificacion {
    z-index: 2;
    background-color: #839aa822;
    color: #FFFD;
    font-weight: bold;
    position: fixed;
    top: 6rem;
    right: 4rem;
    padding: .3rem .6rem;
    border-radius: 99px;
    font-size: 1.1rem;
    border-radius: 99px;
    backdrop-filter: blur(15px);
    border: 2px outset #FFF2;
    animation: fade;
    animation-duration: 0.5s;
    animation-direction: alternate;
    /* animation: notif;
    animation-duration: 0.55s;
    animation-iteration-count: 3.5;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in; */
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0,75;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 500px) {
    .notificacion {
        z-index: 2;
        display: flex;
        justify-content: center;
        position: fixed;
        text-align: center;
        width: max-content;
        margin:auto;
        top: 4.9rem;
        right: initial;
        padding: .3rem .6rem;
    }
}