.body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    padding: 100px 10% 100px;
    background-image: url('../img/gong-ty-5AEFIuud6XI-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-color: #5199c1;
}

::-webkit-scrollbar {
    background-color: transparent;
    
}

::-webkit-scrollbar-thumb {
    background: #0d587ea5;
    border-radius: 999px;
    backdrop-filter: blur(5px);
}

.cards {
    position: relative;
    z-index: 0;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards > span {
    position: absolute;
    text-align: right;
    color: #fffa;
    right: 100px;
    top: 85px;
}

@media (max-width: 500px) {
    .body {
        padding: 6rem 10%;
        display: flex;
        justify-content: center;
        /* overflow: hidden; */
        overflow-y: scroll;
    }

    .cards {
        margin-top: 20px;
    }
}